fastapi
uvicorn[standard]
pydantic
numpy
scipy
sqlalchemy
aiosqlite
python-dotenv
pytest
python-multipart
slowapi
alembic
httpx
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
bcrypt==4.0.1
cachetools
pytest-asyncio
pytest-mock
